/* CSS demo */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	max-width: 1200px;
	margin: auto;
}

header {
	padding: 1.2em 1em;
	border: 1px solid lightcoral;
}

h1 {
	font-size: 2em;
	font-weight: 700;
}

#title {
	color: hsl(0, 79%, 72%);
}

header,
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
}

.nav li a {
	margin: 2em;
	color: #f08080;
	text-decoration: none;
	font-size: 1.5em;
	cursor: pointer;
}

.nav li a:hover {
	color: #d32323;
	font-size: 1.6em;
}

main {
	width: 100%;
	margin: 1em auto;
	padding: 2em 1em;
}

#image {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#main-img {
	min-width: 100%;
}

#cookies {
	width: 100;
	display: flex;
}

article {
	max-width: 30%;
}

article img {
	width: 100%;
}

li {
	margin: 1 em;
}

#top {
	display: block;
	width: 100%;
}

article {
	margin: 2em 1em;
	flex-wrap: wrap;
}

#contact {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 300px;
	background-color: rgb(211, 211, 211);
}

#contact > h3 {
	font-size: 3em;
	margin: 2em auto;
	color: grey;
}

#contact > p {
	margin: 2em auto;
}

#gotop {
	display: flex;

	font-size: 1.5em;
}

#gotop > a {
	margin: 1em auto;
	text-decoration: none;
	color: #f08080;
	padding: 0.5em 3em;
	border: 2px solid rgb(240, 128, 128);
	border-radius: 0.3em;
}

footer {
	display: flex;
	width: 100%;
	min-height: 50px;
	background-color: lightgrey;
}

footer p {
	margin: auto;
}
